# ignore heavy data
data/raw/*
!data/raw/.gitkeep

data/interim/*
!data/interim/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Ignore virtual environments and system files
venv/
.DS_Store
__pycache__/
*.ipynb_checkpoints
.vscode/
.env
